server:
  port: 8001

eureka:
  instance:
    hostname: peer2
    lease-expiration-duration-in-seconds: 30
    lease-renewal-interval-in-seconds: 10
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 3000
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://peer1:8000/eureka/
logging:
  level:
      root: info
  file: logs/registry-peer2.log