spring:
  application:
    name: zuul

server:
  port: 8001
eureka:
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://120.55.41.124:8000/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 120.55.41.124
logging:
  level:
      root: info
  file: logs/zuul.log