spring:
  application:
    name: zuul
server:
  port: 9005
eureka:
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://10.1.17.172:9000/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 10.1.17.172
logging:
  level:
      root: info
  file: logs/zuul.log