spring:
  application:
    name: zuul

server:
  port: 8001
eureka:
  client:
    serviceUrl:
      defaultZone: http://120.55.41.124:8000/eureka/

logging:
  level:
      root: info
  file: logs/zuul.log