server:
  port: 9000

eureka:
  instance:
    hostname: peer1
    lease-expiration-duration-in-seconds: 30
    lease-renewal-interval-in-seconds: 10
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 3000
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://peer2:9001/eureka/
logging:
  level:
      root: info
  file: logs/registry-peer1.log