spring:
  application:
    name: zipkin
server:
  port: 8004
eureka:
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://peer1:8000/eureka/
  instance:
    prefer-ip-address: true
logging:
  level:
      root: info
  file: logs/zipkin.log