server:
  port: 8002

spring:
  application:
    name: configServer
  cloud:
    config:
      server:
        git:
          uri: https://github.com/DevinSoung/javaPublicDemo.git
          username: 1298795091@qq.com
          password: 1298795091@qq.com
          search-paths: properties

eureka:
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://120.55.41.124:8000/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 120.55.41.124
logging:
  level:
      root: info
  file: logs/config.log