server:
  port: 9002

spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/DevinSoung/javaPublicDemo.git
          username: 1298795091@qq.com
          password: 1298795091@qq.com
          search-paths: properties
eureka:
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://10.1.17.172:9000/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 10.1.17.172
logging:
  level:
      root: info
  file: logs/config.log